<div class="form-group">
  <label>{{ctrl.chapter.name}}</label> <br/><br/>

  <button class="btn btn-primary" ng-click="ctrl.addSection()">Add Section</button>
  <button class="btn btn-primary" ng-click="ctrl.addIntroduction()" ng-if="ctrl.introductionNumber === 0">Add
    Introduction
  </button>

  <button class="btn btn-danger" ng-click="ctrl.removeIntroduction()" ng-if="ctrl.introductionNumber === 1">
    Remove Introduction <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>

  <button class="btn btn-primary" ng-click="ctrl.addTable()">Add Table</button>

  <button class="btn btn-primary" ng-click="ctrl.addParagraph()">Add Paragraph</button>

  <button class="btn btn-primary" ng-click="ctrl.addList()">Add List</button>
  <br/><br/>

  <button class="btn btn-danger" ng-click="ctrl.removeChapter()">
    Remove Chapter <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
  <br/><br/>

  <div ng-if="ctrl.introductionNumber === 1">
    <introduction chapter="ctrl.chapter"></introduction>
  </div>

  <div id="modulesHolder" class="form-group" sv-root sv-part="ctrl.chapter.data"></div>
</div>
