<form>
  <div class="form-group">
    <label>Title: </label>
    <input type="text" class="form-control" ng-model="ctrl.frontBlockData.title.title" required>

    <label>Author: </label>
    <input type="text" class="form-control" ng-model="ctrl.frontBlockData.title.author" required>

    <label>College: </label>
    <input type="text" class="form-control" ng-model="ctrl.frontBlockData.title.college" required>

    <label>Degree: </label>
    <input type="text" class="form-control" ng-model="ctrl.frontBlockData.title.degree" required>

    <label>Date: </label>
    <input type="text" class="form-control" ng-model="ctrl.frontBlockData.title.date" required>
  </div>

  <div class="form-group">
    <label>Acknowledgement: </label>
    <textarea class="form-control" ng-model="ctrl.frontBlockData.acknowledge.acknowledge"></textarea>
  </div>

  <div class="form-group">
    <label>Abstract: </label>
    <textarea class="form-control" ng-model="ctrl.frontBlockData.abstract.abstract"></textarea>
  </div>
</form>
