<div class="form-group">
  <label>Title: </label>
  <input type="text" class="form-control custom-margin-bottom" ng-model="ctrl.title.title">

  <label>Author: </label>
  <input type="text" class="form-control custom-margin-bottom" ng-model="ctrl.title.author">

  <label>College: </label>
  <input type="text" class="form-control custom-margin-bottom" ng-model="ctrl.title.college">

  <label>Degree: </label>
  <input type="text" class="form-control custom-margin-bottom" ng-model="ctrl.title.degree">

  <label>Date: </label>
  <md-datepicker class="custom-margin-bottom" ng-model="ctrl.title.date"
                 md-placeholder="Enter date" md-open-on-focus></md-datepicker>
</div>
