<form class="login-form" ng-submit="ctrl.login(ctrl.credentials)">
  <div class="login-imgcontainer">
    <img src="../images/avatar.png" alt="Avatar" class="login-avatar">
  </div>

  <div class="login-container">
    <label ng-if="ctrl.isRegister"><b>Email</b></label>
    <input type="text" ng-model="ctrl.credentials.email" ng-if="ctrl.isRegister" placeholder="Enter Email" name="email" class="login-text" required>

    <label><b>Username</b></label>
    <input type="text" ng-model="ctrl.credentials.username" placeholder="Enter Username" name="uname" class="login-text" required>

    <label><b>Password</b></label>
    <input type="password" ng-model="ctrl.credentials.password" placeholder="Enter Password" name="psw" class="login-password" required>

    <button type="submit" class="login-buttons">Login</button>
    <button type="button" class="login-registerbtn" ng-click="ctrl.register(ctrl.credentials)">Register</button>
    <span class="login-forgot-psw"><a href="#">Forgot password?</a></span>
  </div>
</form>
