<form class="login-form" ng-if="!ctrl.emailSent">
  <div class="login-imgcontainer">
    <img src="../images/avatar.png" alt="Avatar" class="login-avatar">
  </div>

  <div class="login-container">
    <label ng-if="ctrl.isRegister"><b>Email</b></label>
    <input type="text" ng-model="ctrl.credentials.email" ng-if="ctrl.isRegister" placeholder="Enter Email" name="email" class="login-text" required>

    <label><b>Username</b></label>
    <input type="text" ng-model="ctrl.credentials.username" placeholder="Enter Username" name="uname" class="login-text" required>

    <label ng-if="!ctrl.isForgotPassword"><b>Password</b></label>
    <input type="password" ng-model="ctrl.credentials.password" ng-if="!ctrl.isForgotPassword" placeholder="Enter Password" name="psw" class="login-password" required>

    <button ng-if="!ctrl.isRegister && !ctrl.isForgotPassword" type="submit" class="login-buttons" ng-click="ctrl.login(ctrl.credentials)">Login</button>
    <button ng-if="ctrl.isRegister && !ctrl.isForgotPassword" type="submit" class="login-buttons" ng-click="ctrl.register(ctrl.credentials)">Register</button>
    <button ng-if="ctrl.isRegister && !ctrl.isForgotPassword" type="button" class="login-registerbtn" ng-click="ctrl.showLoginForm()">Login</button>
    <button ng-if="!ctrl.isRegister && !ctrl.isForgotPassword" type="button" class="login-registerbtn" ng-click="ctrl.showRegistrationForm()">Register</button>
    <button ng-if="!ctrl.isRegister && !ctrl.isForgotPassword" type="button" class="login-forgot-psw" ng-click="ctrl.showForgotPasswordForm()">Forgot Password</button>
    <button ng-if="ctrl.isForgotPassword" type="button" class="login-buttons" ng-click="ctrl.sendEmail(ctrl.credentials)">Send Email</button>
    <!--<span ng-if="!ctrl.isRegister" class="login-forgot-psw"><a href="#">Forgot password?</a></span>-->
  </div>
</form>

<div ng-if="ctrl.emailSent" class="login-container">
  Email successfully sent to {{ctrl.credentials.email}}
</div>
