<form name="main_form">
  <front-block ng-show="ctrl.pageNumber === 1" title="ctrl.frontBlockData.title"></front-block>

  <dedication ng-show="ctrl.pageNumber === 2" dedication="ctrl.frontBlockData.dedication"></dedication>

  <acknowledgement ng-show="ctrl.pageNumber === 3" acknowledge="ctrl.frontBlockData.acknowledge"></acknowledgement>

  <abstract ng-show="ctrl.pageNumber === 4" abstract="ctrl.frontBlockData.abstract"></abstract>

  <chapters ng-show="ctrl.pageNumber === 5" chapters="ctrl.frontBlockData.chapters"></chapters>
  <!--<div ng-repeat="chapter in ctrl.chapters.chapters" ng-show="ctrl.pageNumber >= 5">-->
    <!--<chapters chapter="chapter"></chapters>-->
  <!--</div>-->

  <div>
    <button class="btn btn-primary" ng-click="main_form.$valid && (ctrl.pageNumber = ctrl.pageNumber - 1)"
            ng-disabled="ctrl.pageNumber === 1">&lt;&lt;&lt; Previous</button>
    <button type="submit" class="btn btn-primary custom-align-center"
            ng-click="main_form.$valid && ctrl.getLatex(ctrl.frontBlockData)">Get Latex</button>
    <button class="btn btn-primary custom-align-right"
            ng-click="main_form.$valid && (ctrl.pageNumber = ctrl.pageNumber + 1)">Next &gt;&gt;&gt;</button>
  </div>

</form>
