<front-block ng-if="ctrl.pageNumber === 1" title="ctrl.frontBlockData.title"></front-block>

<dedication ng-if="ctrl.pageNumber === 2" dedication="ctrl.frontBlockData.dedication"></dedication>

<acknowledgement-abstract ng-if="ctrl.pageNumber === 3"
                          acknowledge="ctrl.frontBlockData.acknowledge"
                          abstract="ctrl.frontBlockData.abstract">

</acknowledgement-abstract>
<!--<abstract ng-if="ctrl.pageNumber === 2" abstract="ctrl.frontBlockData.abstract"></abstract>-->

<div>
  <button class="btn btn-primary" ng-click="ctrl.pageNumber = ctrl.pageNumber - 1" ng-disabled="ctrl.pageNumber === 1"><<< Previous</button>
  <button class="btn btn-primary custom-align-center" ng-click="ctrl.getLatex(ctrl.frontBlockData)">Get Latex</button>
  <button class="btn btn-primary custom-align-right" ng-click="ctrl.pageNumber = ctrl.pageNumber + 1">Next >>></button>
</div>
